/**
	author: bartek
	date: 20:45 19-08-2015
**/

div#min-chat{
	width: 235px;
	height: 300px;
	border-radius: 1px;
	background-color: #eaeaea;
	position: fixed;
	bottom: 5px;
	right: 15px;

	box-shadow: 0 0 15px #888;
}

div#min-chat > header{
	display: flex;
	justify-content: space-between;
	height: 30px;
	line-height: 30px;
	background-color: #2C3E50;
}

div#min-chat > header > b{
	color: #eee;
	position: relative;
	left: 5px;
}

div#min-chat > main{
	padding: 0 10px;
	height: 225px;
	margin: 5px 0;
	overflow-y: auto;
}

div#min-chat main > div{
	font-size: 13px;
	word-break: break-all;
}

div#min-chat footer{
	height: 35px;
}

#chat-input{
	display: block;
	width: 90%;
	margin: 0 auto;
	border: 1px solid #ddd;
	background-color: #fff;
	height: 29px;
	padding: 2px 4px;
	transition: all .15s ease-out;
}

#chat-input:focus{
	border-color: #54B3F7;
}

#chat-input:hover{
	border-color: #aaa;
}
